<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="../static/media/logo.png">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/alert.css">
</head>
<body>
    {%include 'navbar.html'%}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
    <strong class="alert_msg">{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span class="close_icon" aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    <!-- Hello -->
    <main class="main-container">
        <!-- {%if user.is_authenticated%}
        <h3>Welcome {{fname}}!</h3>
        <h4>You're Successfully Logged-In</h4>
        {%endif%} -->
        <div class="ad">      <!-- Grid 1 -->
            <div class="ad_head">
                <h1>Why InstantMart?</h1>
                <h2 id="slogan">.</h2>
            </div>
        </div> 
        <div class="all_products">    <!-- Grid 2 -->
            <h1 id="all_products_heading">All Products</h1>
            <hr id="line">
            {%for i in Card%}
            <div class="card" title="{{i.product_name}}">
                <img class="product_img" src="{{ i.product_img.url }}" width="120" height="150" alt="{{ i.product_name }}">
                <br>
                <h1 class="pro_info pro_font product_header">{{ i.product_name }}</h1>
                <p class="pro_info pro_font product_quantity">{{ i.product_quantity }}<span class="product_unit">{{ i.product_unit }}</span></p>
                <br>
                <h2 class="pro_font price_div"><span class="product_currency">{{ i.product_currency }}</span>{{ i.product_price }}</h2>
                <a href="{% url 'InstantMart_App:add_to_cart' i.id %}" title="Add {{i.product_name}}"><button class="add_to_card_btn">Add to Cart</button></a>
            </div>
            {%endfor%}
        </div>
    </main>
    <footer style="    max-height: 2rem;background-color: lightgray;position: relative;text-align: center;margin: 0;padding: 10px;font-weight: 600;">
        <small>Copyright &copy; 2024 INSTANTMART || Designed By Suyash Sable || </small>
    </footer>
<script src="../static/js/script.js"></script>
</body>
</html>