<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {%load static%}
  <link rel="stylesheet" href="{%static 'css/all.css'%}">
  <nav class="navbar">
    <div class="logo">
      <a href="/" title="Home Page"><i>InstantMart.</i></a>
    </div>
    {% if user.is_authenticated %}
    <p>Welcome <span class="login_name"><a href="/account" title="{{fname}} profile">{{ fname }}</a></span>!</p>
    {% endif %}
    <a class="nav_link" href="/category" title="Categories">Categories</a>
    <form action="/search" method="get">
      <div class="search_input_img">
        <input type="text" name="query" type="search" title="Search" class="search" placeholder="Search"><button class="search_icon"><img src="../static/media/search_icon.png" width="30px" height="30px" title="Search"></button>
      </div>
    </form>
    {% if user.is_authenticated %}
    <a href="/cart" class="nav_link"><img class="cart_logo" title="Cart" src="../static/media/cart_shopping_icon.svg" width="25px" height="25px" alt="cart logo"></a>
    <a class="nav_link" href="/signout" title="Signout">Sign Out</a>
    {% else %}
    <a class="nav_link" href="/signin" title="Signin">Sign In</a>
    <a class="nav_link" href="/signup" target="_blank" title="Signup">Sign Up</a>
    {% endif %}
  </nav>
  <script src="../static/js/script.js"></script>
</body>
</html>
