nav{
    display: flex;
    justify-content: space-around;
    gap: 30rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: rgb(255 155 32);
    font-weight: 900;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
}
body{
    height: auto;
}